.menu-bottom{
    position: absolute;
    bottom: 1rem;
    left: 40%;
    color: white;
}
.menu-top{
    position: absolute;
    left: 75%;
    bottom: 50%;
    list-style-type: none;
    color: white;
}
.search-bar{
    position: absolute;
    left: 80%;
    bottom: 50%;
}
.nav-item{
    margin-right: 5%;
}
.words-color{
    color: white;
}
